body {
  margin: auto;
}

.board {
  margin: auto;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(8, 125px);
  grid-template-rows: repeat(8, 125px);
}

.tile {
  border: 5px solid black;
  border: solid;

  padding: auto;
}

.tile:nth-child(even) {
  background-color: blue;
}

.tile:nth-child(odd) {
  background-color: green;
}