body {
  margin: auto;
  background-color: orange;

  display: flex;
  justify-content: center;
}

section {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
}

.black:nth-child(odd) {
  background-color: white;
}

.black:nth-child(even) {
  background-color: black;
}

.white:nth-child(even) {
  background-color: white;
}

.white:nth-child(odd) {
  background-color: black;
}


